body{
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1{
    color: #D85103;
    font-size: 50px;

}
p{
    color: rgb(2, 43, 21);
    font-size: 20px;

}
h2{
    color: cadetblue;
    font-size:30px;
}
h4{
    color: cadetblue;
    font-size: 30px;
}
h3{
    color: cadetblue;
    font-size: 30px;
    
}